bs4==0.0.2
  beautifulsoup4==4.14.3
    soupsieve==2.8.3
    typing_extensions==4.15.0
linkify-it-py==2.0.3
  uc-micro-py==1.0.3
mutagen==1.47.0
pipdeptree==2.30.0
  packaging==26.0
  pip==25.3
pyinstaller==6.18.0
  altgraph==0.17.5
  packaging==26.0
  pyinstaller-hooks-contrib==2026.0
    setuptools==80.10.1
    packaging==26.0
  setuptools==80.10.1
requests==2.32.5
  charset-normalizer==3.4.4
  idna==3.11
  urllib3==2.6.3
  certifi==2026.1.4
textual==7.3.0
  markdown-it-py==4.0.0
    mdurl==0.1.2
  mdit-py-plugins==0.5.0
    markdown-it-py==4.0.0
      mdurl==0.1.2
  platformdirs==4.5.1
  Pygments==2.19.2
  rich==14.3.0
    markdown-it-py==4.0.0
      mdurl==0.1.2
    Pygments==2.19.2
  typing_extensions==4.15.0
yt-dlp==2025.12.8
